{{#if userID}}
<div class="topnav">
  <img class="logo" src="logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

{{#each swaps}}
<div id="acceptPrompt">
    <h2>Confirm Acceptance</h2>

    <p>Please confirm that you would like to send {{this.reqName}} your copy of {{this.title}} by {{this.author}} in {{comp this.condition}} condition for {{this.pointsTraded}} points</p>

    <button id="acceptSwap">ACCEPT SWAP</button>

    <div id="hiddenValues">
        <span id="swap">{{this.id}}</span>
        <span id="sender">{{this.senderID}}</span>
        <span id="receiver">{{this.receiverID}}</span>
        <span id="book">{{this.bookID}}</span>
        <span id="points">{{this.pointsTraded}}</span>
    </div>
</div>
{{/each}}

<div id="acceptSuccess">
    <h2>Congratulations!  Once <span id="recipientName"></span> has received your book, the points will be added to your account!</h2>

    <p>Send your book to:</p>
    <p id="mailingName"></p>
    <p id="mailingStreet"></p>
    <p id="mailingState"></p>
</div>


<div id="acceptError">
    <h2>Oops!  Something went wrong.  Try again.</h2>
</div>

<script src="/accept.js"></script>


<footer>© Elvis Press Leaves</footer>
