{{!-- This page is for displaying a user's account info --}}
{{#if userID}}
<div class="topnav">
  <a class="active" href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h2>Welcome to Your User Account Page</h2>

<p>View Your Account Information:</p>

<div id="userAcctInfo">
  <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Street Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Available Points</th>
          <th>Pending Points</th>
{{!--           <th>Completed Swaps</th>
          <th>Pending Swaps</th>
 --}}        </tr>
      </thead>
      <tbody>
        {{#if userInfo}}
        {{#each userInfo}}
          <tr>
            <td>{{username}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{street}}</td>
            <td>{{city}}</td>
            <td>{{state}}</td>
            <td>{{zipCode}}</td>
            <td>{{availablePoints}}</td>
            <td>{{pendingPoints}}</td>
{{!--             <td>{{this.complSwap}}</td>
            <td>{{this.pendSwap}}</td>
 --}}          </tr>
        {{/each}}
      </tbody>
    </table>
</div>
    {{else}}
        <div class="warnText">No User Account Information Available<br><br>
        </div>
    {{/if}}
  </div>

<p>Update Your Account Information Here:</p>

<form method = "post">
    {{#if userInfo}}
        {{#each userInfo}}
        
              <fieldset>
                  <legend>Update Selected Account Information:</legend>
                  <label hidden>Username:
                      <input type ="text" name ="usrnm" value="{{this.username}}">
                  </label>
                  <label>First Name:
                      <input type ="text" name ="firstName" value="{{this.firstName}}">
                  </label><br><br>
                  <label>Last Name:
                      <input type ="text" name ="lastName" value="{{lastName}}">
                  </label><br><br>
                  <label>Street Address:
                      <input type ="text" name ="steet" value="{{street}}">
                  </label><br><br>
                  <label>City:
                      <input type ="text" name ="city" value="{{city}}">
                  </label><br><br>
                  <label>State:
                      <input type ="text" name ="state" value="{{state}}">
                  </label><br><br>
                  <label>Zip Code:
                      <input type ="text" name ="zipCode" value="{{zipCode}}">
                  </label><br><br>

                  <p><input type="Submit" name="accountUpdate" id="accountUpdate" value="Update Account"></p>
              </fieldset>
          {{/each}}
      {{/if}}
 </form>
</div>




</div>
<footer>© Elvis Press Leaves</footer>
