{{!-- This page is for displaying a user's account info --}}
<div style="padding-left:16px">
<h1>Book Swap</h2>
  <h2>Welcome to Your User Account Page</h2>
  <p>Here You May View & Update Your Account Information</p>


  <div style="padding-left:16px">
    <h2>Tropical Fish Emporium</h2>
      <p>Search for products from the database.</p>

    <form method ="GET" action ="/products">
      <fieldset>
        <legend>Search for a Product:</legend>
          <label>Product Id:
            <input type ="text" name ="productId">
          </label><br><br>
          <label>Product Name:
            <input type ="text" name ="name">
          </label><br><br>
          <label>Price
            <input type ="text" name ="price">
          </label><br><br>
          <input name ="prodSearch" id="prodSearch" value="Search" type="submit"/>
      </fieldset>
    </form>

    {{#if prod}}
    <div style="height: 300px; overflow-y: scroll;">
      <h3>Products:</h3>
      <table>
        <tr>
          <!--<th>select</th> -->
          <th class="pk">productID</th>
          <th>name</th>
          <th>price</th>
        </tr>
        {{#each prod}}
        <tr>
          <!--<td><input type="checkbox" name="prodCheck{{id}}"></td> -->
          <td>{{id}}</td>
          <td>{{pName}}</td>
          <td>{{price}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
    {{else}}
        <div class="warnText">No Products Returned<br><br></div>
    {{/if}}
    <br><br>

    {{#if sal_prod}}
    <div style="height: 300px; overflow-y: scroll;">
     <h3>sales_products:</h3>
      <table>
        <tr>
         <!-- <th>select</th> -->
          <th class="fk">saleID</th>
          <th class="fk">productID</th>
          <th> quantity</th>
        </tr>
        {{#each sal_prod}}
        <tr>
          <!--<td><input type="checkbox" name="sal_prodCheck{{sid}}{{pid}}"></td> -->
          <td>{{sid}}</td>
          <td>{{pid}}</td>
          <td>{{qty}}</td>
        </tr>
      {{/each}}
      </table>
    </div>
    {{else}}
        <div class="warnText">No sales_products Returned<br><br></div>
    {{/if}}
  </div>
  <footer>© Tropical Fish Emporium</footer>


<p>Update Account Information Here:</p>
  <form method = "post">
      {{#if usr}}
          {{#each usr}}

              <fieldset>
                  <legend>Update Selected Account Information:</legend>
                  <label hidden>Username:
                      <input type ="text" name ="usrnm" value="{{username}}">
                  </label>
                  <label>First Name:
                      <input type ="text" name ="firstName" value="{{fName}}">
                  </label><br><br>
                  <label>Last Name:
                      <input type ="text" name ="lastName" value="{{lName}}">
                  </label><br><br>
                  <label>Street Address:
                      <input type ="text" name ="steet" value="{{street}}">
                  </label><br><br>
                  <label>City:
                      <input type ="text" name ="city" value="{{city}}">
                  </label><br><br>
                  <label>State:
                      <input type ="time" name ="state" value="{{state}}">
                  </label><br><br>
                  <label>Zip Code:
                      <input type ="time" name ="zipCode" value="{{zip}}">
                  </label><br><br>

                  <p><input type="Submit" name="accountUpdate" id="accountUpdate" value="Update Account"></p>
              </fieldset>
          {{/each}}
      {{/if}}
 </form>
</div>




</div>
<footer>© Elvis Press Leaves</footer>
