{{#if userID}}
<div class="topnav">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h2>Browse our Database of Millions of Swap-Ready Books, Worldwide!</h2>

<p>Search for a book using any or all of the fields below.</p>

  <form method ="GET" action ="/browse">
    <fieldset>
      <legend>Search for...</legend>
        <label>Book Title:
          <input type ="search" name ="title">
        </label><br><br>
        <label>Author:
          <input type ="search" name ="author">
        </label><br><br>
        <label>ISBN:
          <input type ="search" name ="isbn">
        </label><br><br>
        <label>Condition:
          <input type ="search" name ="isbn">
        </label><br><br>
      <input name ="browseBooks" id="brsBks" value="Search" type="submit"/>
    </fieldset>
  </form>

  {{#if booksFound}}
    <h3>Swap Ready Books! -- </h3>
      <table>
        <tr>
          <th>Book Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Condition</th>
        </tr>
      {{#each sal}}
        <tr>
          <td>{{title}}</td>
          <td>{{author}}</td>
          <td>{{isbn}}</td>
          <td>{{condition}}</td>
          <td>{{poster}}</td>
        </tr>
      {{/each}}
      </table>
      </div>
      {{else}}
        <div class="warnText">No Books of those Qualities Found :(<br><br></div>
  {{/if}}
  <br><br>

<footer>©Elvis Press Leaves</footer>
