{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a class="active" href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h2>Browse our Database of Millions of Swap-Ready Books, Worldwide!</h2>

<p>Search for a book using any or all of the fields below.</p>

  <form method ="GET" action ="/browse">
    <fieldset>
      <legend>Search for...</legend>
          <input type ="text" name ="title">
        <label>Author:
          <input type ="text" name ="author">
        </label><br><br>
        <label>ISBN:
          <input type ="text" name ="isbn">
        </label><br><br>
        <label>Condition:
            <select name = "bookCondition">
                    <option value = "5" selected> Fresh off the press! (New)</option>
                    <option value = "4" selected> Delicately Read (Like New)</option>
                    <option value = "3" selected> Dog-Eared (Slightly Worn)</option>
                    <option value = "2" selected> Highlight Frenzy (Marks & Highlight Present)</option>
                    <option value = "1" selected> Loved to Pieces (Rips, Water-Damage, Weak Bindings Present)</option>
            </select><br><br>
        </label><br><br>
      <input name ="browseBooksClick" id="brsBks" value="Search" type="submit"/>
    </fieldset>
  </form>

  {{#if bookList}}
    <h3>Swap Ready Books! -- </h3>
      <table>
        <tr>
          <th>Current Owner</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Condition</th>
          <th>Points</th>
          <th>Request</th>
        </tr>
      {{#each bookList}}
        <tr>
          <td>{{this.username}}</td>
          <td>{{this.title}}</td>
          <td>{{this.author}}</td>
          <td>{{this.isbn}}</td>
          <td>{{comp condition}}</td>
          <td>{{this.points}}</td>
          <td><a href="/{{userID.userID}}/request/{{this.userID}}/{{this.bookID}}">SWAP!</a></td>
        </tr>
      {{/each}}
      </table>
      </div>
      {{else}}
        <br>
        <br>
        <div class="warnText">No Books Found :(<br><br></div>
  {{/if}}
  <br><br>

<footer>© Elvis Press Leaves</footer>

{{!-- <script src="/browse.js"></script> --}}
