{{#if userID}}
<div class="topnav">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a class="active" href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h2>Pending Swaps</h2>

<p>Below are the pending swap requests for books in your bookshelf.</p>
<p>Click the button next to the request to either accept or reject the swap</p>

<div id="swapTable")>
     <table>
        <thead>
            <tr>
                <th>Requester</th>
                <th>Title</th>
                <th>Author</th>
                <th>Condition</th>
                <th>Points</th>
                <th>Date</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            {{#each swaps}}
                <tr>
                    <td>{{this.reqName}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.author}}</td>
                    <td>{{comp this.condition}}</td>
                    <td>{{this.pointsTraded}}</td>
                    <td>{{this.swapDate}}</td>
                    <td><a href="/{{this.senderID}}/accept/{{this.id}}">Accept</a></td>
                    <td><a href="/{{this.senderID}}/reject/{{this.id}}">Reject</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<footer>© Elvis Press Leaves</footer>
