{{#if userID}}
<div class="topnav">
  <img class="logo" src="img/logo.pngg">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

{{#each swaps}}
<div id="rejectPrompt">
    <h2>Confirm Swap Rejection</h2>

    <p>Please confirm that you would like to reject this swap with {{this.reqName}}:
    <p>{{this.title}} by {{this.author}}</p>
    <p>{{comp this.condition}} condition for {{this.pointsTraded}} points</p>

    <button id="rejectSwap">REJECT SWAP</button>

    <div id="hiddenValues">
        <span id="swap">{{this.id}}</span>
        <span id="sender">{{this.senderID}}</span>
        <span id="receiver">{{this.receiverID}}</span>
        <span id="book">{{this.bookID}}</span>
        <span id="points">{{this.pointsTraded}}</span>
    </div>
</div>
{{/each}}

<div id="rejectSuccess">
    <h2>Swap Rejected!  This swap will no longer show as pending in your pending swaps list.</h2>
</div>


<div id="rejectError">
    <h2>Oops!  Something went wrong.  Try again.</h2>
</div>

<footer>© Elvis Press Leaves</footer>

<script src="/reject.js"></script>
