<div style="padding-left:16px">
  <h2>Book Swap</h2>
    <p>Search</p>

      <form method ="GET" action ="/search">
        <fieldset>
          <legend>Search for a Book:</legend>
            <label>Book Title:
              <input type ="search" name ="title">
            </label><br><br>
            <label>Book Author:
              <input type ="search" name ="author">
            </label><br><br>
            <label>ISBN:
              <input type ="search" name ="isbn">
            </label><br><br>
          <input name ="bkSearch" id="bkSearch" value="Search" type="submit"/>
        </fieldset>
      </form>

      {{#if book}}
      <div style="height: 300px; overflow-y: scroll;">
        <h3>Books Found:</h3>
          <table>
            <tr>
              <!--<th>select</th> -->
              <th class="pk">saleID</th>
              <th>employeeID</th>
              <th>customerID</th>
              <th>transactionDate</th>
              <th>totalPurchase</th>
            </tr>
            {{#each sal}}
            <tr>
              <!--<td><input type="checkbox" name="salCheck{{id}}"></td> -->
              <td>{{id}}</td>
              <td>{{eID}}</td>
              <td>{{cID}}</td>
              <td>{{tDate}}</td>
              <td>{{tPurch}}</td>
            </tr>
          {{/each}}
          </table>
          </div>
          {{else}}
            <div class="warnText">No Sales Returned<br><br></div>
      {{/if}}
      <br><br>
      {{#if sal_prod}}
      <div style="height: 300px; overflow-y: scroll;">
        <h3>sales_products:</h3>
          <table>
            <tr>
             <!-- <th>select</th> -->
              <th class="fk">saleID</th>
              <th class="fk">productID</th>
              <th> quantity</th>
            </tr>
            {{#each sal_prod}}
            <tr>
              <!--<td><input type="checkbox" name="sal_prodCheck{{sid}}{{pid}}"></td> -->
              <td>{{sid}}</td>
              <td>{{pid}}</td>
              <td>{{qty}}</td>
            </tr>
          {{/each}}
          </table>
      </div>
        {{else}}
          <div class="warnText">No sales_products Returned<br><br></div>
      {{/if}}
    </div>
