{{!-- This page is for displaying a user's personal bookshelf with add/delete functionality --}}
{{#if userID}}
<div class="topnav">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<div style="padding-left:16px">
  <h2>Book Swap</h2>
  <p>Here books can be added to your bookshelf (Book Swap Database)</p>
  <form method = "post">
<!--NEWBOOKSHELF-->
    <fieldset>
      <legend>Add Book Here:</legend>
        <label>Title:
          <input type ="text" name ="bookTitle">
        </label><br><br>
        <label>Author:
          <input type ="text" name ="bookAuthor">
        </label><br><br>
        //<label>ISBN:
          <input type ="text" name ="isbn">
        </label><br><br>
        <label>Condition:
          <select name = "bookCondition">
                  <option value = "1" selected> Fresh off the press! (New)</option>
                  <option value = "2" selected> Delicately Read (Like New)</option>
                  <option value = "3" selected> Dog-Eared (Slightly Worn)</option>
                  <option value = "4" selected> Highlight Frenzy (Marks & Highlight Present)</option>
                  <option value = "5" selected> Loved to Pieces (Rips, Water-Damage, Weak Bindings Present)</option>
          </select><br><br>
          <label>Points for Swap (How many points would you like to recieve for a completed Swap?):
            <input type ="text" name ="pointsRequested">
          </label><br><br>
        <input name ="newBookShelfClick" id="nbsClick" value="Submit" type="Submit"/>
          <div id="nbsTy"></div>
    </fieldset>
    <h2>Book Swap</h2>
      <p>Search</p>

    <form method ="GET" action ="/myBooks">
      <fieldset>
        <legend>Manage My Bookshelf:</legend>
    			<label>Book Title:
            <input type ="text" name ="bookTitle">
          </label><br><br>
    			<label>Book Author:
            <input type ="text" name ="bookAuthor">
          </label><br><br>
    			<label>E-mail Address:
            <input type ="text" name ="email">
            </label><br><br>
          <input name ="custSearch" id="custSearch" value="Search" type="submit"/>

      </fieldset>
    </form>

    {{#if custs}}
      <table>
        <tr>
          <th>Delete</th>
          <th class="pk">customerId</th>
          <th>email</th>
          <th>memberSince</th>
          <th>firstName</th>
          <th>lastName</th>
        </tr>
        {{#each custs}}
        <tr>
          <td>
            <input type="button" name="delete" value="Delete" onClick="delCust({{this.id}})">
          <td>{{this.id}}</td>
          <td>{{email}}</td>
          <td>{{memberSince}}</td>
          <td>{{fName}}</td>
          <td>{{lName}}</td>
        </tr>
        {{/each}}
      </table>
    {{else}}
      <div class="warnText">No Customers Returned<br><br></div>
    {{/if}}
    {{!-- This page is for displaying a user's account info --}}
    <div style="padding-left:16px">
      <h2>Book Swap</h2>
        <p>View and Update Account Information Here</p>

      <form method ="GET" action ="/userAccount">
        <fieldset>
          <legend>My Shipping Information:</legend>
      			<label>Name:
              <input type ="text" name ="userName">
            </label><br><br>
      			<label>Address:
              <input type ="text" name ="userAddress">
            </label><br><br>
      			<label>:
              <input type ="text" name ="email">
              </label><br><br>
            <label>Address:
              <input type ="text" name ="">
              </label><br><br>
        		<label>:
              <input type ="text" name ="email">
              </label><br><br>
      			<!--<label>Membership Start-Date:
              <input type ="date" name ="memberSince">
            </label><br><br> -->
            <input name ="custSearch" id="custSearch" value="Search" type="submit"/>

        </fieldset>
      </form>

      {{#if custs}}
        <table>
          <tr>
            <th>Delete</th>
            <th class="pk">customerId</th>
            <th>email</th>
            <th>memberSince</th>
            <th>firstName</th>
            <th>lastName</th>
          </tr>
          {{#each custs}}
          <tr>
            <td>
              <input type="button" name="delete" value="Delete" onClick="delCust({{this.id}})">
            <td>{{this.id}}</td>
            <td>{{email}}</td>
            <td>{{memberSince}}</td>
            <td>{{fName}}</td>
            <td>{{lName}}</td>
          </tr>
          {{/each}}
        </table>
      {{else}}
        <div class="warnText">No Customers Returned<br><br></div>
      {{/if}}

    </div>
  </div>
</form>
</div>
<footer>© Elvis Press Leaves</footer>
