{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a class="active" href="/{{this.userID}}/history">Swap History</a>
  <a href="/{{this.userID}}/swaps">Swap Notification</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h1>THIS IS A SWAP HISTORY PAGE WHERE USERS WILL RECEIVE SWAPS - UNDER CONSTRUCTION</h1>

<footer>© Elvis Press Leaves</footer>
