{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/history">Swap History</a>
  <a href="/{{this.userID}}/swaps">Swap Notification</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h2>Update Your User Account Information</h2>
<p>Update an Employee Here.</p>
  <form method = "post">
      {{#if user}}
          {{#each user}}

              <fieldset>
                  <legend>Update Account Details:</legend>
                  <label hidden>User ID:
                      <input type ="text" name ="id" value="{{id}}">
                  </label>
                  <label>First Name:
                      <input type ="text" name ="firstName" value="{{fName}}">
                  </label><br><br>
                  <label>Last Name:
                      <input type ="text" name ="lastName" value="{{lName}}">
                  </label><br><br>
                  <label>Street Address:
                      <input type ="text" name ="street" value="{{street}}">
                  </label><br><br>
                  <label>City:
                      <input type ="text" name ="city" value="{{city}}">
                  </label><br><br>
                  <label>State:
                      <input type ="time" name ="state" value="{{state}}">
                  </label><br><br>
                  <label>Zip Code:
                      <input type ="time" name ="zip" value="{{zip}}">
                  </label><br><br>

                  <p><input type="Submit" name="actUpdate" id="actUpdate" value="Update User Account"></p>
              </fieldset>
          {{/each}}
      {{/if}}
 </form>
</div>

<footer>© Elvis Press Leaves</footer>
